@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f2994a;
}

/* Header */

body > header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0px;
}

header h1 {
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 1.25rem 0.25rem 1.25rem 0;
    text-transform: uppercase;
}

header nav {
    order: -1;
}

header ul {
    list-style: none;
    text-align: center;
}

header ul li:first-of-type {
    margin-bottom: 0.5rem;
}

header ul li a {
    font-weight: 700;
    font-size: 0.75rem;
    color: black;
    text-decoration: none;
    background-color: #f2994a;
    padding: 0.25rem;
}

header > p {
    display: flex;
    justify-content: flex-end;
}

header p > a {
    font-weight: 900;
    font-size: 0.75rem;
    color: black;
    background: #f2994a;
    text-decoration: none;
    padding: 0.5rem;
}

/* Main */

main {
    margin: 6rem 0;
}

main section#intro {
    margin: 0 1rem;
}

main section#intro h2 {
    font-weight: 900;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

main section#intro p {
    margin: 1rem auto;
}

main section#lista_vacas {
    margin: 3rem 1rem;
}

main section#lista_vacas ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section#lista_vacas ul li {
    margin: 1rem 0;
    background-color: black;
    max-width: 448px;
}

main section#lista_vacas ul li header {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

section#lista_vacas h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #ffffff;
    padding-top: 1rem;
}

section#lista_vacas ul li p {
    color: #ffffff;
    padding: 1.5rem 2rem 3rem 2rem;
}

section#lista_vacas a {
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    color: black;
    background-color: #c4c4c4;
    padding: 0.75rem 0;
    display: block;
}

main section#formulario h2 {
    color: #f2994a;
    font-size: 2.5rem;
    font-weight: 900;
    padding: 1rem;
}

main form {
    font-weight: 700;
    background-color: white;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 0 1rem;
}

main form fieldset {
    border: none;
    margin: 0.5rem;
}

form label:not(.newsletter) {
    display: block;
}

form input,
form select,
form textarea {
    border: 2px solid black;
    background: #f2994a;
    margin: 0.5rem 0 0 0;
    font-weight: 700;
    padding: 0.2rem;
}

form input:not(#newsletter),
form select {
    min-height: 30px;
    min-width: 280px;
}

form textarea {
    min-width: 87vw;
    min-height: 100px;
}

button {
    font-weight: 700;
    margin: 1rem 0.5rem 2.5rem 0.5rem;
    color: white;
    background-color: black;
    padding: 0.5rem;
    width: 120px;
    border: none;
}

/* Media queries */

@media (min-width: 700px) {

    /* Header */

    body > header {
        background-image: url(/img/vaca_background.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 500px;
        justify-content: space-between;
        align-items: flex-start;
        position: static;
    }

    header h1 {
        font-size: 3rem;
        color: white;
        text-transform: none;
        margin-right: 1.25rem;
    }

    header ul {
        text-align: left;
        display: flex;
        flex-direction: row;
        margin: 2.5rem 0 0 1rem;
    }

    header ul li:first-of-type {
        margin-right: 1.25rem;
    }

    header ul li a {
        font-weight: 500;
        font-size: 0.85rem;
        text-decoration: none;
        background-color: transparent;
    }

    header p > a {
        color: white;
        background: black;
        min-width: 110px;
        text-align: center;
        margin: 2.20rem 1.5rem 0 0;
    }

    /* Main */

    main {
        margin: 4rem 0 6rem 0;
    }

    main section#intro {
        columns: 2;
        margin: 0 2rem;
    }

    main section#intro h2 {
        font-size: 3.25rem;
    }

    main section#intro p:nth-of-type(2) {
        padding-bottom: 3.85rem; 
    } 

    main section#intro p:nth-of-type(3) {
        margin-top: 2rem;   
    } 

    main form {
        flex-flow: row wrap;
        padding: 1.5rem 0 0 1.5rem;
    }

    form input:not(#newsletter),
    form select {
        min-height: 40px;
        min-width: 45vw;
    }

    main form textarea {
        width: 92vw;
    }

    button {
        margin-right: 80vw;
    }
}

@media (min-width: 1000px) {

    /* Header */
        
    body > header {
        height: 700px;
        padding: 2rem;
    }

    header h1 {
        font-size: 3.5rem;
    }

    /* Main */

    main section#formulario form h2 {
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    main section#intro p {
        font-size: 1.2rem;
    }

    main section#lista_vacas ul p {
        font-size: 1.3rem;
    }

    main section#lista_vacas ul a {
        height: 60px;
        padding-top: 1.2rem;
        font-size: 1.15rem;
    }

    form input:not(#newsletter),
    form select {
        min-height: 45px;
        min-width: 45.5vw;
    }
}

@media (min-width: 1400px) {

    /* Header */

    body > header {
        height: 800px;
    }
    header h1 {
        font-size: 4rem;
        margin-right: 4rem;
    }

    header ul li a {
        font-size: 1.2rem;
    }

    header p > a {
        font-size: 1rem;
        width: 150px;
    }

    /* Main */

    main section#intro {
        padding: 0 1rem;
    }

    main section#intro h2 {
        font-size: 5rem;
    }

    main section#intro p {
        font-size: 1.25rem;
    }

    main section#intro p:nth-of-type(1),
    main section#intro p:nth-of-type(2) {
        padding-right: 1rem;
    }

    main section#intro p:nth-of-type(2) {
        padding-bottom: 6.5rem;
        
    } 

    main section#lista_vacas ul {
        flex-direction: row;
        justify-content: space-around;
    }

    main section#lista_vacas ul h2 {
        font-size: 4rem;
        margin: 0.75rem;
    }

    main section#lista_vacas ul p {
        font-size: 1.25rem;
        padding-bottom: 4rem;
    }

    main section#lista_vacas ul a {
        height: 80px;
        padding-top: 1.6rem;
        font-size: 1.25rem;

    }

    form input:not(#newsletter),
    form select {
        min-width: 47vw;
        min-height: 50px;
    }

    form label {
        padding: 0.75rem 0;
    }
    form textarea {
        min-width: 95vw;
        min-height: 200px;
    }

    form #newsletter {
        margin-left: 0.5rem;
    }
    
    form button {
        font-size: 0.9rem;
        width: 135px;
        height: 35px;
        margin-top: 2rem;
    }

}